// 理论上使用豆包Seed视觉模型
MIDSCENE_MODEL_BASE_URL="https://ark.cn-beijing.volces.com/api/v3"
MIDSCENE_MODEL_API_KEY="<替换为你的 API Key>" // 如何找到API key看下方
MIDSCENE_MODEL_NAME="<替换为你的模型名称>" // 使用1.6-vision模型，则填 "doubao-seed-1-6-vision-250815"
MIDSCENE_MODEL_FAMILY="doubao-vision"